@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Open+Sans&display=swap');

$Open-Sans: 'Open Sans', sans-serif;
$Kalam: 'Kalam', cursive;
$StrongColors: #9bc53d, #e55934, #f0f3f5;
$right-answer: nth($StrongColors, 1);
$wrong-answer: nth($StrongColors, 2);
$cursor-color: nth($StrongColors, 3);

::selection {background-color: var(--secondary-color)}
h1 {font-family: $Kalam}


body {
    text-align: center;
    background-color: var(--secondary-color);
    color: $cursor-color;
    font-family: $Open-Sans;
    margin: 0;

    select#lang-select {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1rem;
        color: $cursor-color;
        background-color: var(--primary-color);
        font-family: $Open-Sans;
        padding: 7px;
        border: none;

        &:focus {
            outline: none;

        }
        > option:hover {
            background-color: red !important;
            color: orange !important;
        }

    }

    select#color-theme {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 1rem;
        color: $cursor-color;
        background-color: var(--primary-color);
        font-family: $Open-Sans;
        padding: 7px;
        border: none;

        &:focus {
            outline: none;

        }
        > option:hover {
            background-color: red !important;
            color: orange !important;
        }
    }
    
    .WordGen, .InputRest {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 75%;
        background-color: var(--primary-color);
    }

    .WordGen {
        padding: 1rem;
        text-align: left;
        opacity: 1;

        #firstword {
            background: rgba(#FFFFFF, .1);
            padding: .5rem;
            border-radius: 10px;
        }
    }

    .InputRest {
        padding: 1rem;

        input[type="text"] {
            padding: .75rem;
            border-radius: 15px;
            border: none;
            color: $cursor-color;
            background-color: var(--secondary-color);
            font-family: $Open-Sans;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: $cursor-color;
            }
        }

        #resetButton {
            background-color: var(--secondary-color);
            padding: .75rem;
            border-radius: 15px;
            border: none;

            i {
                color: $right-answer;
            }

            &:focus, &:hover {
                outline: none;

                i {
                    color: $wrong-answer;
                }
            }
        }
    }
}

@mixin setKeystroke($keystroke) {
    @if $keystroke == "Good" {
        color: $right-answer !important;
    } @else {
        color: $wrong-answer !important;
    }
}

.GoodKeystrokes {@include setKeystroke("Good")}
.FalseKeystrokes {@include setKeystroke("Wrong")}

a {
    color: $cursor-color;
}

.version {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.github_repo {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

canvas {
    position: relative;
}